<ng-template [ngIf]="(cartData$|async)" let-cartData>
<div *ngIf="(cartData.cartItems.length) as length;else emptyCart">
  <h3>Total price: {{cartData.totalPrice}}</h3>
  <h3>Total quantity: {{cartData.totalQuantity}}</h3>
  <h4>Basic mat-select</h4>
  <mat-form-field appearance="fill">
    <mat-label>Sort by</mat-label>
    <mat-select (selectionChange)="changeIdx($event)">
      <mat-option *ngFor="let option of selectOptions" [value]="option.value">
        {{option.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<app-cart-item
  *ngFor="let item of cartData.cartItems|orderBy:selectOptions[this.index].sortValue:selectOptions[this.index].isIncrease;
  trackBy: identify"
  [item] = item
  (increaseBuyCount)="onIncr($event)"
  (decreaseBuyCount)="onDcr($event)"
  (deleteBuyBook)="onDel($event)"
>
</app-cart-item>
</ng-template>

<ng-template #emptyCart>
  <div #emptyCart>
    <p>Yours cart is empty</p>
    <img  src="../../../../assets/pngwing.com.png" width=100px>
  </div>
</ng-template>
