<div *ngIf="cartData.cartItems.length > 0;else emptyCart">
  <h3>Total price: {{cartData.totalPrice}}</h3>
  <h3>Total quantity: {{cartData.totalQuantity}}</h3>
</div>
<app-cart-item
  *ngFor="let item of cartData.cartItems"
  [item] = item
  (increaseBuyCount)="onIncr($event)"
  (decreaseBuyCount)="onDcr($event)"
  (deleteBuyBook)="onDel($event)"
>
</app-cart-item>
<ng-template #emptyCart>
  <div #emptyCart>
    <p>Yours cart is empty</p>
    <img  src="../../../../assets/pngwing.com.png" width=100px>
  </div>
</ng-template>
